body {
  font: 100% Helvetica, sans-serif;
  color: #333; 
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul li{
  list-style-type: none;
}
/*======================================= Nav Bar =========================================*/
nav{
  display: flex;
  height: 50px;
  justify-content: space-around;
  background: linear-gradient(-34deg, rgb(22, 235, 237), rgb(23, 175, 150));
}
nav li{
  list-style-type: none;
  display: inline-block;
  padding: 4px;
}
nav li a{
  color: #f5f2f5;
  text-decoration: none;
  font-weight: 900;
  text-shadow: 0px 0px 2px black;
}
.logo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    flex-grow: 2;
    align-items: center;
}

/*------------------------------------------------------------------------------------------*/
/*=============================== Products.jsx =======================================*/
.all-products{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}
.products-list{
  box-sizing: border-box;
  list-style-type: none;
  flex: 0 22%;
  text-align: center;
  margin: 2px;
  margin: 12px 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #bebcbc;
}
.products-list a{
  text-decoration: none;
}
.products-list img{
  width: 250px;
  height: 200px;
  margin-top: 25px;
}
.product-name{
  color: black;
  font-size: 1.2em;
  font-weight: 600;
}
.product-price{
  color: #119185;
  font-size: 1.3em;
  font-weight: 900;
}

/*=============================== ProductForm.jsx ========================================*/

.new-products-form{
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.new-products-form label{
  min-width: 70px;
  display: inline-block;
}

.form-items {
  margin: 5px 0;
  padding: 7px;
}
.form-items input{
  width: 80%;
  height: 35px;
  line-height: 18px;
  padding: 2px 8px;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #00BCD4;
}
.form-items:nth-child(4){
  display: flex;
}
.form-items textarea {
  width: 80%;
}
input#image {
  padding-top: 6px;
}
.form-items.button{
  text-align: center;
}
/*================================ Product details =================================*/

.product-details{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.product-details h1{
  align-self: center;
  line-height: 32px;
  font-weight: 400;
}
.product-container{
  display: flex;
  flex-wrap: wrap
}
.product-info{
  display: flex;
  flex-grow: 2;
  flex-basis: 500px;
  flex-direction: column;
  padding: 10px;
}
.product-image{
  align-self: center;
}
.product-description{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  align-self: center;
}
/*-------------------- Sidebar ------------------------*/
.side-bar{
  flex-grow: 1;
  flex-direction: column;
  padding: 10px 22px;
  flex-basis:150px;
  border-left: 1px solid #d1d5d3;
}
.side-bar p{
  border-bottom: 1px solid  #d1d5d3;
  padding-bottom: 15px;
  font-weight: 700;
}
.quantity{
  font-weight: 400;
  padding: 5px;
  padding-bottom: 15px;
  border-bottom: 0.6px solid  #d1d5d3;
  margin: 10px 0;
}
.color{
  border-bottom: 0.6px solid  #d1d5d3;
  padding-bottom: 15px;
  margin: 10px 0;
}
.color select{
  width: 99%;
  height: 30px;
  
}
.buy-button{
  width: 99%;
  background-color: #53a318;
  color: #fff;
  border: 1px solid #53a318;
  border-radius: 3px;
  height: 30px;
  padding: 3px;
  margin: 10px 0;
}


/*============================ Shopping Cart==========================*/

.item-details{
  display: flex;
  border: 1px solid;
}
item-details li:nth-child(1){
  flex-grow: 1;
}
item-details li:nth-child(2){
  flex-flow: 3;
}
item-details li:nth-child(3){
  flex-grow: 1
}
.image-src img{
  width: 100px;
}



/*=========================== User Profile =============================*/
.user-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.address-hidden{
  display: none;

}
.address-hidden label{
  width: 115px;
}
.address-hidden input{
  width: 75%;
}











